body {
	color: #343A40;
}

a#page-title, a#page-title:hover {
	font-size: 14pt;
	color: #FFFFFF;
	font-weight: bold;
}

@media (min-width: 768px) {
	a#page-title, a#page-title:hover {
		font-size: 24pt;
		padding: 15px 15px;
	}
}

@media (max-width: 350px) {
	a#page-title, a#page-title:hover {
		padding: 5px 5px;
	}
}

h2.factor-title {
	font-size: 14pt;
	font-weight: bold;
	margin-top: 0.5em;
}

#result-panel {
	margin-top: 1em;
}

#result-score {
	font-size: 25pt;
	font-weight: bold;
	text-align: center;
}

#result-heading {
	font-weight: bold;
}
